<div class="jumbotron mycustom-jumbotron">
  <div class="entete">
    LIENS JORADP
  </div>

  <br>
  <div style="display: flex;justify-content: space-between;align-content: center">
    <div>
      <span>JOURNAL OFFICIEL : </span>
      <a [href]="'https://www.joradp.dz/'"
         appExternalUrl
      ><i class="fa fa-link">ICI</i>
      </a>
    </div>

    <div>
      <span>CONTACTEZ NOUS : </span>
      <a [href]="'https://www.joradp.dz/'"
         appExternalUrl>
        <i class="fa fa-paper-plane">ICI</i>
      </a>
    </div>

  </div>
</div>
