
<div
     [ngStyle]="{'direction': app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }">
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <!--<mat-icon class="close-icon" color="warn">close</mat-icon>-->
    <i class="material-icons close-icon">close</i>
  </button>
  <br>
  <div class="entete" style=" text-align: center"><span>{{ 'LIST-AVIS.TITLE' | translate }}</span></div>
  <br>
  <button type="submit" mat-raised-button
          matTooltip="{{ 'LIST-CANDIDATS.AJOUTER-BUTTON.TOOLTIP' | translate }}"
          class="btn btn-success" (click)="onAddAvis(texteId)">{{ 'LIST-CANDIDATS.AJOUTER-BUTTON' | translate }}</button>

  <br>



  <mat-form-field>
    <mat-label>Filtre</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'LIST-AVIS.SIMPLE-FILTER' | translate }}" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{ 'LIST-AVIS.TABLE.ID' | translate }} </th>
        <td mat-cell *matCellDef="let element; let i =index"> {{i+1}} </td>
      </ng-container>

      <!-- libelle fr Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{ 'LIST-AVIS.TABLE.DETAILS' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.details}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{ 'LIST-AVIS.TABLE.DETAILS' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.dateAvis}} </td>
      </ng-container>
      <ng-container matColumnDef="ministere">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{ 'LIST-AVIS.TABLE.MINISTERE' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <div [ngSwitch]="app.localStorageItem('lge')">
            <div *ngSwitchCase="'ar'" class="myfilterar">{{element.ministere?.libelleAr}}</div>
            <div *ngSwitchCase="'fr'" class="myfilterfr">{{element.ministere?.libelleFr}}</div>
            <div *ngSwitchDefault>This is Default</div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{ 'LIST-AVIS.TABLE.OPERATIONS' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <div class="myflex spacer">
            <button *ngIf="!isMinistereUser()"
                    mat-raised-button
                    mat-icon-button
                    matTooltip="{{'LIST-MOUVEMENT.TABLE.EDIT-BUTTON'|translate}}"
                    class="btn btn-success" (click)="onEditAvis(element.id)">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
            <label class="btn btn-primary" *ngIf="!isMinistereUser()">
              <i class="fa fa-upload" aria-hidden="true"></i>
              <input class="example-full-width" name="UploadFile{{element.id}}"
                     matTooltip="{{'LIST-MOUVEMENT.TABLE.UPLOAD'|translate}}"
                     accept="application/pdf"
                     style="display: none;" type="file"
                     (change)="onSelectFile($event,element.id)" />
            </label>
            <!--<h5>{{currentFileUpload?.name}}</h5>-->
            <div *ngIf="!!element.scanpdf">
              <button
                mat-raised-button
                mat-icon-button
                matTooltip="{{'LIST-MOUVEMENT.TABLE.SHOW-PDF'|translate}}"
                class="btn btn-light" (click)="showPdf(element.id)"
              ><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i=index"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 25, 100]" showFirstLastButtons></mat-paginator>

  </div>
</div>
<br/><br/>
<br/><br/>
