<br>
<div class="jumbotron mycustom-jumbotron"
     [ngStyle]="{'direction': app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }">
  <div class="entete" style=" text-align: center"><span>{{ 'LIST-AVIS.TITLE' | translate }}</span></div>
  <br>
  <button type="submit" mat-raised-button
          matTooltip="{{ 'LIST-CANDIDATS.AJOUTER-BUTTON.TOOLTIP' | translate }}"
          class="btn btn-success" (click)="onAddAvis(texteId)">{{ 'LIST-CANDIDATS.AJOUTER-BUTTON' | translate }}</button>

  <br>



  <mat-form-field>
    <mat-label>Filtre</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'LIST-AVIS.SIMPLE-FILTER' | translate }}" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{ 'LIST-AVIS.TABLE.ID' | translate }} </th>
        <td mat-cell *matCellDef="let element; let i =index"> {{i+1}} </td>
      </ng-container>

      <!-- libelle fr Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{ 'LIST-AVIS.TABLE.DETAILS' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.details}} </td>
      </ng-container>
      <ng-container matColumnDef="ministere">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{ 'LIST-AVIS.TABLE.MINISTERE' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.ministere.libelleFr}} </td>
      </ng-container>

      <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{ 'LIST-AVIS.TABLE.OPERATIONS' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            mat-icon-button
            matTooltip="Imprimer LE MOUVEMENT"
            class="btn btn-success spacer" (click)="onEditAvis(element.id)">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </button>

          <!--<button
            mat-raised-button
            mat-icon-button
            matTooltip="Imprimer LE MOUVEMENT"
            class="btn btn-light spacer" (click)="onListFonctionsByOrganisme(element.id)">
            <i class="fa fa-adjust" aria-hidden="true"></i>
          </button>-->
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i=index"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 25, 100]" showFirstLastButtons></mat-paginator>

  </div>
</div>
<br/><br/>
<br/><br/>
