<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>-->
<br>
<div  class="jumbotron mycustom-jumbotron"
      align="{{app.localStorageItem('lge') === 'fr' ? 'left' : 'right'}}">
  <div class="container">
    <mat-vertical-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" #myform1="ngForm"
              [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
          <ng-template matStepLabel>
            <h5 [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <!--{{ "ADD-TEXTE.H5" | translate }}-->
              AJOUTER SOMMAIRE
            </h5>
          </ng-template>

          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>{{ 'ADD-MOUVEMENT.NOMINATION' | translate }}</mat-label>
              <mat-select
                required name="typemouve" placeholder="{{ 'ADD-MOUVEMENT.NOMINATION' | translate }}"
                          [(ngModel)]="nature"
                          (ngModelChange)="makeNominat($event)"
                          formControlName="natureCtrl">
                <mat-option></mat-option>
                <mat-option *ngFor="let nat of natures ; let i=index" [value]="nat">
                  {{nat.libelleFr}}
                </mat-option>
              </mat-select>
              <!--<mat-error>{{ 'ADD-MOUVEMENT.NOMINATION.MAT-ERROR' | translate }}</mat-error>-->
              <mat-error *ngIf="firstFormGroup.controls['natureCtrl'].hasError('required')
              && firstFormGroup.controls['natureCtrl'].pristine">
                INSEREZ LA NATURE DU TEXTE !!!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">

            <mat-form-field class="example-full-width" [formGroup]="firstFormGroup">
              <!--{{ 'ADD-TEXTE.NOMFR.PLACEHOLDER' | translate }}-->
              <textarea  matInput placeholder="النص"
                         required type="text" [(ngModel)]="texte.sommaireAr"
                         name="firstName" formControlName="sommaireArCtrl"></textarea>
              <mat-error>{{ "ADD-TEXTE.NOMFR.ERROR" | translate }}</mat-error>
            </mat-form-field>

          </div>
          <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">

            <mat-form-field class="example-full-width" [formGroup]="firstFormGroup">
              <!--{{ 'ADD-TEXTE.PRENOMFR.PLACEHOLDER' | translate }}-->
              <textarea matInput placeholder="LE TEXTE" required type="text"
                        [(ngModel)]="texte.sommaireFr" name="lastName" formControlName="sommaireFrCtrl"
              ><!--(change)="verifierTexte(texte.sommaireAr,  texte.sommaireFr)"--></textarea>
              <mat-error>{{ "ADD-TEXTE.PRENOMFR.ERROR" | translate }}</mat-error>
            </mat-form-field>

          </div>


          <div class="example-full-width" *ngIf="!texteExist; else kayen">
            <!--<div class="row">
              <h5 [ngStyle]="{
                    direction: app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl'
                  }">{{'ADD-TEXTE.ADD_MOUVEMENT' | translate  }}</h5>
            </div>-->
          </div>
          <hr/>
          <div class="row">
            <div class="col-4" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <div class="form-group" [formGroup]="firstFormGroup">
                <button
                  type="submit"
                  mat-raised-button
                  matTooltip="{{ 'ADD-TEXTE.BUTTON_REFRESH' | translate }}"
                  class="btn btn-primary"
                  (click)="stepper.reset()"
                >
                  <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
                </button
                >
              </div>
            </div>

            <button class="elementID" mat-button matStepperNext
                    mat-raised-button
                    matTooltip="{{'STEP.AVANCE'| translate}}">
              <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true">
              </i></button>

          </div>
          <ng-template #kayen>
            <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <div class="alert alert-danger" role="alert">
                {{ 'ADD-TEXTE.EXIST' | translate }}
              </div>
            </div>
            <div class="row">
              <div class="col-2" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
                <div class="form-group">
                  <button type="submit"
                          mat-raised-button
                          matTooltip="Ajouter un mouvement"
                          class="btn btn-primary"
                          (click)="onAjoutMouvement()"
                  >
                    <i class="fa fa-tasks fa-2x" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div
                class="col-2"
                [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'"
              >
                <div class="form-group">
                  <button
                    type="submit"
                    mat-raised-button
                    matTooltip="Modifier un mouvement"
                    class="btn btn-default"
                    (click)="onEditMouvement()"
                  >
                    <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div
                class="col-2"
                [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'"
              >
                <!--<div class="form-group">
                  <button
                    type="submit"
                    mat-raised-button
                    matTooltip="Imprimer l'etat de sortie"
                    class="btn btn-primary"
                    (click)="reporting()"
                  >
                    <i class="fa fa-print fa-2x" aria-hidden="true"></i>
                  </button>
                </div>-->
              </div>
            </div>
          </ng-template>

        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" #myform2="ngForm"
              [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
          <ng-template matStepLabel><h5>AJOUTER MOUVEMENT</h5><!--{{ 'ADD-MOUVEMENT.H5' | translate }}--></ng-template>

          <div class="row">
            <!--<p>{{selsect?.libelleFr}}</p>-->
            <div class="col" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <mat-form-field class="example-full-width">
                <mat-label>SECTEUR<!--{{ 'ADD-MOUVEMENT.ETAT' | translate }}--></mat-label>
                <mat-select required [disabled]="!authService.isAdmin()"  name="etat"
                            [(ngModel)]="selsect"
                            formControlName="secteurMouvementCtrl"
                ><!--[ngModelOptions]="{standalone: true}-->
                  <mat-option></mat-option>
                  <mat-option *ngFor="let sct of secteurs; let i=index" [value]="sct">
                    {{sct?.libelleFr}}
                  </mat-option>

                </mat-select>
                <mat-error>{{ 'ADD-MOUVEMENT.ETAT.MAT-ERROR' | translate }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <mat-form-field>
                <mat-label>PHASE<!--{{ 'ADD-MOUVEMENT.ETAT' | translate }}--></mat-label>
                <mat-select required name="etat" [(ngModel)]="mouvement.phase"
                            (selectionChange)="getSelectedSecteur($event)"
                            formControlName="etatMouvementCtrl"
                ><!--(ngModelChange)="makeNominat(mouvement.typeMouvement)"-->
                  <mat-option></mat-option>
                  <mat-option *ngFor="let phs of phases; let i=index" [value]="phs">
                    {{phs.libelleFr}}
                  </mat-option>
                </mat-select>
                <mat-error>{{ 'ADD-MOUVEMENT.ETAT.MAT-ERROR' | translate }}</mat-error>
              </mat-form-field>
            </div>

            <div class="col" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <mat-form-field>
                <input matInput readonly [matDatepicker]="picker1" placeholder="{{'ADD-MOUVEMENT.PHASE_MOUVEMENT.DATE_ETAT' | translate}}"
                       id="date1" name="date1"
                       [(ngModel)]="date"
                       [ngModelOptions]="{standalone: true}"
                       (dateChange)="toFormattedDate($event.value)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="mouvement.phase?.libelleFr==='TEXTE PUBLIE'">
            <h5>{{'ADD-CANDIDAT.TEXTE' | translate}}</h5>
            <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <div class="col">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput placeholder="{{'ADD-CANDIDAT.TEXTE.REF' | translate}}" type="text" [(ngModel)]="texte.refer" name="ref"
                           [ngModelOptions]="{standalone: true}">
                    <mat-error>Il faut remplir la reference!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput placeholder="{{'ADD-CANDIDAT.TEXTE.JOURNAL' | translate}}" type="text" [(ngModel)]="texte.journal" name="journal"
                           [ngModelOptions]="{standalone: true}">
                    <mat-error>Il faut remplir le journal!</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <div class="col">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput readonly [matDatepicker]="picker2" placeholder="{{'ADD-MOUVEMENT.PHASE_MOUVEMENT.DATE_ETAT' | translate}}"
                           id="dateSignture" name="dateSignture"
                           [(ngModel)]="texte.dateSignature"
                           [ngModelOptions]="{standalone: true}"
                           (dateChange)="toFormattedDate($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput readonly [matDatepicker]="picker3" placeholder="{{'ADD-MOUVEMENT.PHASE_MOUVEMENT.DATE_ETAT' | translate}}"
                           id="datePublication" name="datePublication"
                           [(ngModel)]="texte.datePublication"
                           [ngModelOptions]="{standalone: true}"
                           (dateChange)="toFormattedDate($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <div class="col">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput placeholder="{{'ADD-CANDIDAT.TEXTE.PAGEAR' | translate}}" type="text" [(ngModel)]="texte.pageAr"
                           [ngModelOptions]="{standalone: true}"
                           name="pagear">
                    <mat-error>Il faut remplir la pageAr!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <mat-form-field>
                    <input matInput placeholder="{{'ADD-CANDIDAT.TEXTE.PAGEFR' | translate}}" type="text" [(ngModel)]="texte.pageFr"
                           [ngModelOptions]="{standalone: true}"
                           name="pagefr">
                    <mat-error>Il faut remplir la pageFr!</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!--


                  <button (click)="getTexte()">Voir Texte:</button>
            -->

          </div>



            <mat-form-field class="example-full-width">
              <!--{{ 'ADD-TEXTE.PRENOMFR.PLACEHOLDER' | translate }}-->
              <textarea matInput placeholder="LES DETAILS" type="text"
                        [(ngModel)]="mouvement.details" name="details"
                        [ngModelOptions]="{standalone: true}"
              ></textarea>
              <mat-error>DETAILS!!!<!--{{ "ADD-TEXTE.PRENOMFR.ERROR" | translate }}--></mat-error>
            </mat-form-field>



          <mat-form-field class="example-full-width"><!--/*selectionChange.emit($event);*/-->
            <mat-select [ngModel]="selectedValues"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="getMinistere($event)" placeholder="LA LISTE DES MINISTERES"
                        [multiple]="true" #multiSelect>
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="ministereMultiFilterCtrl"
                  placeholderLabel="RECHERCHE DES MINISTERES..."
                  noEntriesFoundLabel="PAS DE RESULTAT !"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let minist of filteredMinisteresMulti | async" [value]="minist">
                {{minist.libelleFr}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <p>
            LA LISTE DES MINISTERES SELECTIONNEES:
          </p>
          <ul *ngFor="let minist of selectedValues">
            <li>{{minist?.libelleFr}}</li>
          </ul>


          <!--<mat-form-field class="example-full-width">
            <mat-label>{{ 'ADD-MOUVEMENT.FONCTION' | translate }}</mat-label>&lt;!&ndash;{{ 'ADD-MOUVEMENT.FONCTION' | translate }}&ndash;&gt;
            <mat-select
              multiple
              name="minist" placeholder="SELECT MINISTERE" [(ngModel)]="slctMinisteres"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onMinistereSelected($event)">
              <input id="recherche" matInput
                     placeholder="Recherche..."
                     type = "text" (keyup)="onKeyFct($event)" (keydown)="handleInput($event)">
              <div *ngFor="let minist of selectedMinisteres">
                <mat-option
                  [value]="minist">&lt;!&ndash;*ngIf="checkIfExistFonction(fct)"&ndash;&gt;
                  {{app.localStorageItem('lge') === 'fr' ? minist.libelleFr : minist.libelleAr}}
                </mat-option>
              </div>
            </mat-select>
            <mat-error>Il faut choisir la fonction</mat-error>
          </mat-form-field>-->

          <hr/>
          <div class="row example-full-width controle">
            <button class="elementID" mat-button matStepperPrevious
                    mat-raised-button
                    matTooltip= "{{'STEP.RECULE'| translate}}" >
              <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true">
                <!----></i></button>

            <button class="elementID" mat-button matStepperNext
                    (click)="getEvent(myform1,myform2)"
                    mat-raised-button
                    matTooltip= "{{'STEP.AVANCE'| translate}}">
              <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true">
                <!----></i></button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel><h5>{{ 'ADD-CANDIDAT.BUTTON_ADD' | translate }}</h5></ng-template>
        <div>
          <div class="col-12" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
            <br>
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                mat-raised-button
                matTooltip="{{ 'ADD-CANDIDAT.BUTTON_ADD' | translate }}"
                class="btn btn-success "
                (click)="onSubmitSave()"
                [disabled]="!myform1.valid && !myform2.valid"
              >
                <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
              </button>
            </div>

          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>


