.elementID {
  margin: 5px 10px;
  color: #3F51B5;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
  width: 10%;
}


.controle{
  display: flex;
  justify-content: space-around;
  align-content: center;
}
