<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>-->
<br>
<div  class="jumbotron mycustom-jumbotron"
      align="{{app.localStorageItem('lge') === 'fr' ? 'left' : 'right'}}">
  <div class="container">
    <mat-vertical-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" #myform1="ngForm"
              [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
          <ng-template matStepLabel>
            <h5 [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <!--{{ "ADD-TEXTE.H5" | translate }}-->
              {{'ADD-TEXTE.STEP-ONE' |translate}}
            </h5>
          </ng-template>

          <div class="row">
            <mat-form-field
              [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
              class="example-full-width">
              <mat-label>{{'ADD-TEXTE.NATURE' |translate}}</mat-label>
              <mat-select
                required name="typemouve"
                          [(ngModel)]="nature"
                          (ngModelChange)="makeNominat($event)"
                          formControlName="natureCtrl">
                <mat-option></mat-option>
                <mat-option *ngFor="let nat of natures ; let i=index" [value]="nat">
                  <div [ngSwitch]="app.localStorageItem('lge')">
                    <div *ngSwitchCase="'ar'" class="myfilterar">{{nat?.libelleAr}}</div>
                    <div *ngSwitchCase="'fr'" class="myfilterfr">{{nat?.libelleFr}}</div>
                    <div *ngSwitchDefault></div>
                  </div>
                </mat-option>
              </mat-select>
              <!--<mat-error>{{ 'ADD-MOUVEMENT.NOMINATION.MAT-ERROR' | translate }}</mat-error>-->
              <mat-error *ngIf="firstFormGroup.controls['natureCtrl'].hasError('required')
              && firstFormGroup.controls['natureCtrl'].pristine">
                {{'ADD-TEXTE.ERROR-NATURE'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
            <mat-form-field
              [style]="{'text-align': 'right'}"
              class="example-full-width" [formGroup]="firstFormGroup">
              <!--{{ 'ADD-TEXTE.NOMFR.PLACEHOLDER' | translate }}-->
              <textarea  matInput placeholder="{{'ADD-TEXTE.SOMMAIRE-AR'|translate}}"
                         required type="text" [(ngModel)]="texte.sommaireAr"
                         name="firstName" formControlName="sommaireArCtrl"></textarea>
              <mat-error>{{'ADD-TEXTE.ERROR-SOMMAIRE-AR'|translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
            <mat-form-field
              [style]="{'text-align': 'left'}"
              class="example-full-width" [formGroup]="firstFormGroup">
              <!--{{ 'ADD-TEXTE.PRENOMFR.PLACEHOLDER' | translate }}-->
              <textarea matInput placeholder="{{'ADD-TEXTE.SOMMAIRE-FR'|translate}}" required type="text"
                        [(ngModel)]="texte.sommaireFr" name="lastName" formControlName="sommaireFrCtrl"
              ><!--(change)="verifierTexte(texte.sommaireAr,  texte.sommaireFr)"--></textarea>
              <mat-error>{{'ADD-TEXTE.ERROR-SOMMAIRE-FR'|translate}}</mat-error>
            </mat-form-field>
          </div>

          <div class="example-full-width" *ngIf="!texteExist; else kayen">
          </div>
          <hr/>
          <div class="row">
            <div class="col-4" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <div class="form-group" [formGroup]="firstFormGroup">
                <button
                  type="submit"
                  mat-raised-button
                  matTooltip="{{ 'ADD-TEXTE.RESET' | translate }}"
                  class="btn btn-primary"
                  (click)="stepper.reset()"
                >
                  <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
                </button
                >
              </div>
            </div>

            <button class="elementID" mat-button matStepperNext
                    mat-raised-button
                    matTooltip="{{'ADD-TEXTE.FORWARD'| translate}}">
              <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true">
              </i></button>

          </div>
          <ng-template #kayen>
            <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <div class="alert alert-danger" role="alert">
                {{ 'ADD-TEXTE.EXIST' | translate }}
              </div>
            </div>
            <div class="row">
              <div class="col-2" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
                <div class="form-group">
                  <button type="submit"
                          mat-raised-button
                          matTooltip="Ajouter un mouvement"
                          class="btn btn-primary"
                          (click)="onAjoutMouvement()"
                  >
                    <i class="fa fa-tasks fa-2x" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div
                class="col-2"
                [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'"
              >
                <div class="form-group">
                  <button
                    type="submit"
                    mat-raised-button
                    matTooltip="Modifier un mouvement"
                    class="btn btn-default"
                    (click)="onEditMouvement()"
                  >
                    <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div
                class="col-2"
                [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'"
              >
                <!--<div class="form-group">
                  <button
                    type="submit"
                    mat-raised-button
                    matTooltip="Imprimer l'etat de sortie"
                    class="btn btn-primary"
                    (click)="reporting()"
                  >
                    <i class="fa fa-print fa-2x" aria-hidden="true"></i>
                  </button>
                </div>-->
              </div>
            </div>
          </ng-template>

        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" #myform2="ngForm"
              [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
          <ng-template matStepLabel><h5>{{'ADD-TEXTE.STEP-TWO'|translate}}</h5><!--{{ 'ADD-MOUVEMENT.H5' | translate }}--></ng-template>

          <div class="row">
            <!--<p>{{selsect?.libelleFr}}</p>-->
            <div class="col" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <mat-form-field
                [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
                class="example-full-width">
                <mat-label>{{'ADD-TEXTE.SECTEUR'|translate}}<!--{{ 'ADD-MOUVEMENT.ETAT' | translate }}--></mat-label>
                <mat-select required [disabled]="!authService.isAdmin()"  name="etat"
                            [(ngModel)]="selsect"
                            formControlName="secteurMouvementCtrl"
                ><!--[ngModelOptions]="{standalone: true}-->
                  <mat-option></mat-option>
                  <mat-option *ngFor="let sct of secteurs; let i=index" [value]="sct">
                    <div [ngSwitch]="app.localStorageItem('lge')">
                      <div *ngSwitchCase="'ar'" class="myfilterar">{{sct?.libelleAr}}</div>
                      <div *ngSwitchCase="'fr'" class="myfilterfr">{{sct?.libelleFr}}</div>
                      <div *ngSwitchDefault></div>
                    </div>
                  </mat-option>

                </mat-select>
                <mat-error>{{ 'ADD-TEXTE.ERROR-SECTEUR' | translate }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <mat-form-field
                class="example-full-width"
                [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
              >
                <mat-label>{{'ADD-TEXTE.PHASE' | translate}}<!--{{ 'ADD-MOUVEMENT.ETAT' | translate }}--></mat-label>
                <mat-select required name="etat" [(ngModel)]="mouvement.phase"
                            (selectionChange)="getSelectedSecteur($event)"
                            formControlName="etatMouvementCtrl"
                ><!--(ngModelChange)="makeNominat(mouvement.typeMouvement)"-->
                  <mat-option></mat-option>
                  <mat-option *ngFor="let phs of phases; let i=index" [value]="phs">
                    <div [ngSwitch]="app.localStorageItem('lge')">
                      <div *ngSwitchCase="'ar'" class="myfilterar">{{phs?.libelleAr}}</div>
                      <div *ngSwitchCase="'fr'" class="myfilterfr">{{phs?.libelleFr}}</div>
                      <div *ngSwitchDefault></div>
                    </div>
                  </mat-option>
                </mat-select>
                <mat-error>{{ 'ADD-TEXTE.ERROR-PHASE' | translate }}</mat-error>
              </mat-form-field>
            </div>

            <div class="col" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <mat-form-field
                class="example-full-width"
                [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
              >
                <input matInput readonly [matDatepicker]="picker1"
                       id="date1" name="date1"
                       [(ngModel)]="mouvement.datePhase"
                       required
                       (dateChange)="toFormattedDate($event.value)"
                       formControlName="dateMouvementCtrl"
                ><!--[ngModelOptions]="{standalone: true}"-->
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error>{{'ADD-TEXTE.ERROR-DATE'}}</mat-error><!--{{ 'ADD-MOUVEMENT.ETAT.MAT-ERROR' | translate }}-->
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="mouvement.phase?.libelleFr==='TEXTE PUBLIE'">
            <div class="row">
              <div class="entete">
                  <mat-label>{{'ADD-CANDIDAT.TEXTE' | translate}}</mat-label>
              </div>
            </div>
            <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <div class="col">
                <div class="form-group">
                  <mat-form-field
                    [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
                    class="example-full-width">
                    <input matInput placeholder="{{'ADD-TEXTE.REF' | translate}}" type="text" [(ngModel)]="texte.refer" name="ref"
                           [ngModelOptions]="{standalone: true}">
                    <mat-error>Il faut remplir la reference!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <mat-form-field
                    [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
                    class="example-full-width">
                    <input matInput placeholder="{{'ADD-TEXTE.JOURNAL' | translate}}" type="text" [(ngModel)]="texte.journal" name="journal"
                           [ngModelOptions]="{standalone: true}">
                    <mat-error>Il faut remplir le journal!</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <div class="col">
                <div class="form-group">
                  <mat-form-field
                    [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
                    class="example-full-width">
                    <input matInput readonly [matDatepicker]="picker2" placeholder="{{'ADD-TEXTE.DATE-SIG' | translate}}"
                           id="dateSignture" name="dateSignture"
                           [(ngModel)]="texte.dateSignature"
                           [ngModelOptions]="{standalone: true}"
                           (dateChange)="toFormattedDate($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <mat-form-field
                    [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
                    class="example-full-width">
                    <input matInput readonly [matDatepicker]="picker3" placeholder="{{'ADD-TEXTE.DATE-PUB' | translate}}"
                           id="datePublication" name="datePublication"
                           [(ngModel)]="texte.datePublication"
                           [ngModelOptions]="{standalone: true}"
                           (dateChange)="toFormattedDate($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
              <div class="col">
                <div class="form-group">
                  <mat-form-field
                    [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
                    class="example-full-width">
                    <input matInput placeholder="{{'ADD-TEXTE.PAGEAR' | translate}}" type="text" [(ngModel)]="texte.pageAr"
                           [ngModelOptions]="{standalone: true}"
                           name="pagear">
                    <mat-error>Il faut remplir la pageAr!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <mat-form-field
                    [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
                    class="example-full-width">
                    <input matInput placeholder="{{'ADD-TEXTE.PAGEFR' | translate}}" type="text" [(ngModel)]="texte.pageFr"
                           [ngModelOptions]="{standalone: true}"
                           name="pagefr">
                    <mat-error>Il faut remplir la pageFr!</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>



            <mat-form-field
              [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
              class="example-full-width">
              <!--{{ 'ADD-TEXTE.PRENOMFR.PLACEHOLDER' | translate }}-->
              <textarea matInput placeholder="{{'ADD-TEXTE.DETAILS'|translate}}" type="text"
                        [(ngModel)]="mouvement.details" name="details"
                        [ngModelOptions]="{standalone: true}"
              ></textarea>
              <mat-error>DETAILS!!!<!--{{ "ADD-TEXTE.PRENOMFR.ERROR" | translate }}--></mat-error>
            </mat-form-field>



          <mat-form-field
            [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
            class="example-full-width"><!--/*selectionChange.emit($event);*/-->
            <mat-select [ngModel]="selectedValues"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="getMinistere($event)"
                        placeholder="{{'ADD-TEXTE.LIST-MINISTERE'|translate}}"
                        [multiple]="true" #multiSelect>
              <mat-option>
                <ngx-mat-select-search
                  class="error-message"
                  [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
                  [formControl]="ministereMultiFilterCtrl"
                  placeholderLabel="{{'LIST-MINISTERE.SIMPLE-FILTER'|translate}}"
                  noEntriesFoundLabel="{{'ADD-TEXTE.NO-RESULT'|translate}}"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let minist of filteredMinisteresMulti | async" [value]="minist">
                <div [ngSwitch]="app.localStorageItem('lge')">
                  <div *ngSwitchCase="'ar'" class="myfilterar">{{minist?.libelleAr}}</div>
                  <div *ngSwitchCase="'fr'" class="myfilterfr">{{minist?.libelleFr}}</div>
                  <div *ngSwitchDefault></div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <p>
            {{'ADD-TEXTE.SELECTED-MINISTERE'|translate}}
          </p>
          <ul *ngFor="let minist of selectedValues">
            <li><div [ngSwitch]="app.localStorageItem('lge')">
              <div *ngSwitchCase="'ar'" class="myfilterar">{{minist?.libelleAr}}</div>
              <div *ngSwitchCase="'fr'" class="myfilterfr">{{minist?.libelleFr}}</div>
              <div *ngSwitchDefault></div>
            </div></li>
          </ul>
          <hr/>
          <div class="row example-full-width controle">
            <button class="elementID" mat-button matStepperPrevious
                    mat-raised-button
                    matTooltip= "{{'ADD-TEXTE.BACKWARD'| translate}}" >
              <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true">
                <!----></i></button>

            <button class="elementID" mat-button matStepperNext
                    (click)="getEvent(myform1,myform2)"
                    mat-raised-button
                    matTooltip= "{{'ADD-TEXTE.FORWARD'| translate}}">
              <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true">
                <!----></i></button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel><h5>{{ 'ADD-TEXTE.ADD-BUTTON' | translate }}</h5></ng-template>
        <div>
          <div class="col-12" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
            <br>
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                mat-raised-button
                matTooltip="{{ 'ADD-TEXTE.ADD-BUTTON' | translate }}"
                class="btn btn-success "
                (click)="onSubmitSave()"
                [disabled]="!myform1.valid && !myform2.valid"
              >
                <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
              </button>
            </div>

          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>


