
td.mat-cell:last-of-type{
  padding-right: 5px;
  padding-left: 5px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 13px;
  padding-right: 15px;
}
