
<br>
<div  class="jumbotron mycustom-jumbotron"
      align="{{app.localStorageItem('lge') === 'fr' ? 'left' : 'right'}}">
  <div class="container">
    <form [formGroup]="firstFormGroup" #myform1="ngForm"
          [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">

        <h5 [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
          <!--{{ "ADD-TEXTE.H5" | translate }}-->
          {{ 'LIST-PROJET.ADD-BUTTON' | translate }}
        </h5>

      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>{{ 'LIST-NATURE.TITLE' | translate }}</mat-label>
          <mat-select
            required name="typemouve" placeholder="{{ 'LIST-NATURE.TITLE' | translate }}"
            [(ngModel)]="natr"
            (ngModelChange)="getNature($event)"
            formControlName="natureCtrl">
            <mat-option></mat-option>
            <mat-option *ngFor="let nat of natures ; let i=index" [value]="nat">
              <div [ngSwitch]="app.localStorageItem('lge')">
                <div *ngSwitchCase="'ar'" class="myfilterar">{{nat.libelleAr}}</div>
                <div *ngSwitchCase="'fr'" class="myfilterfr">{{nat.libelleFr}}</div>
              </div>
            </mat-option>
          </mat-select>
          <!--<mat-error>{{ 'ADD-MOUVEMENT.NOMINATION.MAT-ERROR' | translate }}</mat-error>-->
          <mat-error *ngIf="firstFormGroup.controls['natureCtrl'].hasError('required')
              && firstFormGroup.controls['natureCtrl'].pristine">
            INSEREZ LA NATURE DU TEXTE !!!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row" >
        <mat-form-field
          [style]="{'text-align':'right'}"
                        class="example-full-width" [formGroup]="firstFormGroup">
          <!--{{ 'ADD-TEXTE.NOMFR.PLACEHOLDER' | translate }}-->
          <textarea  matInput placeholder="النص"

                     required type="text" [(ngModel)]="texte.sommaireAr"
                     name="firstName" formControlName="sommaireArCtrl"></textarea>
          <mat-error>{{ "ADD-TEXTE.NOMFR.ERROR" | translate }}</mat-error>
        </mat-form-field>
      </div>
      <div class="row" >
        <mat-form-field
          [style]="{'text-align':'left'}"
          class="example-full-width" [formGroup]="firstFormGroup">

          <textarea matInput placeholder="LE TEXTE" required type="text"
                    [(ngModel)]="texte.sommaireFr" name="lastName" formControlName="sommaireFrCtrl"
          ></textarea>
          <mat-error>{{ "ADD-TEXTE.PRENOMFR.ERROR" | translate }}</mat-error>
        </mat-form-field>
      </div>
      <hr/>
      <div class="row">
          <div class="col-5" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
            <br>
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                mat-raised-button
                matTooltip="{{ 'ADD-CANDIDAT.BUTTON_ADD' | translate }}"
                class="btn btn-success "
                (click)="onSubmitUpdate()"
                [disabled]="!myform1.valid ">
                <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        <div class="col-5" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
            <br>
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                mat-raised-button
                matTooltip="{{ 'ADD-CANDIDAT.BUTTON_ADD' | translate }}"
                class="btn btn-success "
                (click)="reinisialize()">
                <i class="fa fa-refresh fa-3x" aria-hidden="true"></i>
              </button>
            </div>
          </div>
      </div>
    </form>
  </div>
</div>


