<br>
<div >
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <!--<mat-icon class="close-icon" color="warn">close</mat-icon>-->
    <i class="material-icons close-icon">close</i>
  </button>
  <br>

  <div class="container">
    <div [hidden]="submitted">
      <button mat-raised-button
              matTooltip="RETOUR"
              class="btn btn-dark"
              [routerLink]="'/lesministeres'">
        <i class="fa fa-hand-o-left fa-2x"></i>
      </button>
      <form>
        <div class="row" >
          <br>
          <span style="margin: 5px" class="entete" >{{'ADD-MINISTERE.TITLE'|translate}}</span><!--{{ 'ADD-MOUVEMENT.H5' | translate }}-->
        </div>
        <div ><!--[ngStyle]="{direction:app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl'}"-->
          <mat-form-field
            style="text-align:right" class="example-full-width">
            <input matInput placeholder="{{'ADD-MINISTERE.LIBELLEAR'|translate}}" type="text" [(ngModel)]="ministere.libelleAr" name="secteur" required/><!---->
          </mat-form-field>
        </div>
        <div ><!--[ngStyle]="{direction:app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl'}"-->
          <mat-form-field
            style="text-align:left" class="example-full-width">
            <input matInput placeholder="{{'ADD-MINISTERE.LIBELLEFR'|translate}}" type="text" [(ngModel)]="ministere.libelleFr" name="secteur" required/><!---->
          </mat-form-field>
        </div>
        <!--<button type="submit" class="btn btn-success">AJOUTER MOUVEMENT</button>-->
        <div class="form-group">
          <button type="submit" class="btn btn-success"
                  [disabled]="!ministere.libelleFr?.trim()
            || !ministere.libelleAr?.trim()"
                  (click)="onSubmitSave()">{{'ADD-TEXTE.ADD-BUTTON'|translate}}</button>
        </div>
      </form>
    </div>

    <div [hidden]="!submitted">
      <h4>LE SECTEUR EST AJOUTE AVEC SUCCES!</h4>
      <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
    </div>

  </div>
</div>
