<br><br>
<div class="jumbotron mycustom-jumbotron text-dark">
  <div class="container">
    <div [hidden]="submitted">
      <button mat-raised-button
              matTooltip="RETOUR"
              class="btn btn-dark"
              [routerLink]="'/lesnatures'">
        <i class="fa fa-hand-o-left fa-2x"></i>
      </button>

      <form>
        <div class="row" [ngStyle]="{
                  direction:
                    app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl'
                }"><br>
          <div style="margin: 5px;" class="entete">{{ 'ADD-NATURE.TITLE' | translate }}</div><!---->
        </div>
        <div  >
          <mat-form-field style="text-align:right" class="example-full-width">
            <input matInput placeholder="{{ 'ADD-NATURE.LIBELLEAR' | translate }}"
                   type="text" [(ngModel)]="nature.libelleAr" name="naturear" required/><!---->
          </mat-form-field>
        </div>
        <div >
          <mat-form-field style="text-align:left" class="example-full-width">
            <input matInput placeholder="{{ 'ADD-NATURE.LIBELLEFR' | translate }}"
                   type="text" [(ngModel)]="nature.libelleFr" name="naturefr" required/><!---->
          </mat-form-field>
        </div>
        <!--<button type="submit" class="btn btn-success">AJOUTER MOUVEMENT</button>-->
        <div class="form-group">
          <button type="submit" class="btn btn-success"
                  [disabled]="!nature.libelleFr?.trim()
            || !nature.libelleAr?.trim()"
                  (click)="onSubmitSaveNature()">{{ 'ADD-TEXTE.ADD-BUTTON' | translate }}</button>
        </div>
      </form>
    </div>

    <div [hidden]="!submitted">
      <h4>{{ 'ADD-TEXTE.SUBMITED' | translate }}</h4>
    </div>

  </div>
</div>
