<div class="jumbotron mycustom-jumbotron" align="{{app.localStorageItem('lge') === 'fr' ? 'left' : 'right' }}"
     [ngStyle]="{'direction': app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }">
  <br/>
  <div class="entete" style="text-align: center"><span>APERCU DE DOCUMENT</span></div>
<!--
<button >open</button>-->
  <div class="pdf-container">
    <iframe>
      {{link}}
    </iframe>
    <!--<ngx-extended-pdf-viewer
      [src]="'assets/example.pdf'"
      [useBrowserLocale]="true"
      [textLayer]="true"
      [showHandToolButton]="true"
      [showPresentationModeButton]="true"
      [(page)]="page"
      [(pageLabel)]="pageLabel"
      height="70vh"
    >
    </ngx-extended-pdf-viewer>-->
  </div>
  <br/>

<br/>
</div>
