table{
  width: 100%;
  font-weight: bold;
}

.cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 10px;
}

.card {
  display: flex;
  /*width: 150px;*/
  flex-direction: column;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
  margin: 10px;
  overflow: hidden;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.card__descriptionIcon {
  font-size: 32px;
  margin-bottom: 10px;
}

.card__descriptionText {
  color: #57727C;
  font-size: 12px;
  text-align: center;
  max-width: calc(100% - 30px);
}

.card__price {
  text-align: center;
  color: #57727C;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid #D7DBDD;
  background-color: #EEF3F5;
  margin-bottom: 0;
}

.card--fixedWidth {
  max-width: 250px;
}


/*                 GRID DISPLAY                  */

.all-grid{
  background-color: #B9C7CB;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  /*border: 1px solid #ccc;*/
}
.grid-item {
  /*background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;*/
}

.mycustom-jumbotron-mouvement {
  background-color: #fff;
  border:2px solid #003366;
  margin: 5px 2rem
}


th.mat-header-cell {
  padding: 0 10px 0 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
td.mat-cell {
  padding: 0 10px 0 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
