<br/>
<div class="dropdown-divider"></div>
<div class=""
     [ngStyle]="{'direction': app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }"><!--jumbotron mycustom-jumbotron-mouvement--><!--simple-border-->
  <div class="mybigtexte" >
    <span>{{'LIST-MOUVEMENT.TITLE'|translate}}</span>
  </div>
  <br/>
  <button *ngIf="!isMinistereUser()" type="submit" mat-raised-button
          matTooltip="{{'LIST-MOUVEMENT.ADD-BUTTON'|translate}}"
          class="btn btn-success" (click)="addMouvement()">{{ 'LIST-MOUVEMENT.ADD-BUTTON' | translate }}</button>

  <br/><br/>

  <div class="all-grid">
    <div class="myflex">
      <div class="mytexte">
        <span>{{'LIST-MOUVEMENT.MINISTERE-TEXTE'|translate}}</span>
      </div>
    </div>
    <div class="grid-container"><!--cards-->
      <div class="card card--fixedWidth" *ngFor="let minist of ministeres"><!--card  grid-item-->
        <div class="card__description">
          <div class="icon fa fa-building card__descriptionIcon"></div>
          <div class="card__descriptionText">{{minist.libelleAr}}</div>
        </div>
        <div class="card__price">{{minist.libelleFr}}</div>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">{{'LIST-MOUVEMENT.TABLE.ID'|translate}} </th>
        <td mat-cell *matCellDef="let element ; let i = index;"> {{i+1}} </td>
      </ng-container>

      <!-- libelle fr Column -->
      <ng-container matColumnDef="libelleAr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{'LIST-MOUVEMENT.TABLE.PHASE'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          <div class="is-all"
               [ngClass]="{
               'is-initiation': element.phase.libelleFr === 'INITIATION DE PROJET',
               'is-distribution': element.phase.libelleFr === 'DISTRIBUTION A TOUS LES MINISTERES',
               'is-telex': element.phase.libelleFr === 'DISTRIBUTION DES TELEX AUX MINISTERES CONCERNES',
               'is-reunion': element.phase.libelleFr === 'ETUDE VIA LES REUNIONS',
               'is-conseil-gov': element.phase.libelleFr === 'CONSEIL DE GOUVERNEMENT',
               'is-conseil-mnstr': element.phase.libelleFr === 'CONSEIL DES MINISTRES',
               'is-aprobat': element.phase.libelleFr === 'APPROBATION',
               'is-aprobat-obsrv': element.phase.libelleFr === 'APPROBATION: ON TENANT COMPTE DES OBSERVATIONS',
               'is-nouv-lecture': element.phase.libelleFr === 'UNE NOUVELLE LECTURE: TEXTE NON ACCEPTE',
               'is-pour-signature': element.phase.libelleFr === 'POUR SIGNATURE',
               'is-signe': element.phase.libelleFr === 'TEXTE SIGNE',
               'is-pour-publication': element.phase.libelleFr === 'POUR PUBLICATION',
               'is-publie': element.phase.libelleFr === 'TEXTE PUBLIE',
               'is-parlement': element.phase.libelleFr === 'POUR DISCUSSION AU PARLEMENT'
               }"
          >{{element.phase?.libelleFr}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="libelleFr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{'LIST-MOUVEMENT.TABLE.SECTEUR'|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.secteur?.libelleFr}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{'LIST-MOUVEMENT.TABLE.DATE'|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{toFormattedDate(element.datePhase)}} </td>
      </ng-container>

      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{'LIST-MOUVEMENT.TABLE.ETAT'|translate}} </th>
        <td mat-cell *matCellDef="let element">

          <!--<div [ngClass]="
               element.isactive == 'false'? 'make-false':'make-true'
               ">{{element.isactive}}</div>-->
          <div class="make-true" *ngIf="element.isactive == '1' ">
            ACTIVE
          </div>
         </td>
      </ng-container>

      <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{'LIST-MOUVEMENT.TABLE.OPERATIONS'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          <div class="myflex spacer">
          <button *ngIf="!isMinistereUser()"
            mat-raised-button
            mat-icon-button
            matTooltip="{{'LIST-MOUVEMENT.TABLE.EDIT-BUTTON'|translate}}"
            class="btn btn-success" (click)="onEditNature(element.id)">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </button>
            <label class="btn btn-primary" *ngIf="!isMinistereUser()">
              <i class="fa fa-upload" aria-hidden="true"></i>
          <input class="example-full-width" name="UploadFile{{element.id}}"
                 matTooltip="{{'LIST-MOUVEMENT.TABLE.UPLOAD'|translate}}"
                 accept="application/pdf"
                 style="display: none;" type="file"
                 (change)="onSelectFile($event,element.id)" />
            </label>
            <h5>{{currentFileUpload?.name}}</h5>
            <div *ngIf="!!element.scanpdf">
              <button
                mat-raised-button
                mat-icon-button
                matTooltip="{{'LIST-MOUVEMENT.TABLE.SHOW-PDF'|translate}}"
                class="btn btn-light" (click)="showPdf(element.id)"
              ><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          [ngClass]="{'make-zibra': row.id%2 == 0}"
          *matRowDef="let row; columns: displayedColumns;"></tr>
      <!---->
    </table>

    <mat-paginator [pageSizeOptions]="[15, 25, 100]" showFirstLastButtons></mat-paginator>

  </div>
</div>
<!--<br/><br/>
<br/><br/>-->
