<br/>
<div class="dropdown-divider"></div>
<div class=""
     [ngStyle]="{'direction': app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }"><!--jumbotron mycustom-jumbotron-mouvement--><!--simple-border-->
  <div class="mybigtexte" >
    <span>{{'LIST-MOUVEMENT.TITLE'|translate}}</span>
  </div>
  <br/>
  <button *ngIf="!isMinistereUser()" type="submit" mat-raised-button
          matTooltip="{{'LIST-MOUVEMENT.ADD-BUTTON'|translate}}"
          class="btn btn-success" (click)="addMouvement()"
  >{{ 'LIST-MOUVEMENT.ADD-BUTTON' | translate }}</button>

  <br/><br/>

  <div class="all-grid">
    <div class="myflex">
      <div class="mytexte">
        <span>{{'LIST-MOUVEMENT.MINISTERE-TEXTE'|translate}}</span>
      </div>
    </div>
    <div class="grid-container"><!--cards-->
      <div class="card card--fixedWidth" *ngFor="let minist of ministeres"><!--card  grid-item-->
        <div class="card__description">
          <div class="icon fa fa-building card__descriptionIcon"></div>
          <div class="card__descriptionText">{{minist.libelleAr}}</div>
        </div>
        <div class="card__price">{{minist.libelleFr}}</div>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table #table mat-table [dataSource]="dataSource" matSort>

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">{{'LIST-MOUVEMENT.TABLE.ID'|translate}} </th>
        <td mat-cell *matCellDef="let element ; let i = index;"> {{i+1}} </td>
      </ng-container>

      <!-- libelle fr Column -->
      <ng-container matColumnDef="libelleAr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{'LIST-MOUVEMENT.TABLE.PHASE'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          <div class="is-all"
               [ngClass]="{
               'is-initiation': element.phase.id === 1,
               'is-distribution': element.phase.id === 2,
               'is-telex': element.phase.id === 3,
               'is-reunion': element.phase.id === 4,
               'is-conseil-gov': element.phase.id === 5,
               'is-conseil-mnstr': element.phase.id === 6,
               'is-aprobat': element.phase.id === 7,
               'is-aprobat-obsrv': element.phase.id === 8,
               'is-nouv-lecture': element.phase.id === 9,
               'is-pour-signature': element.phase.id === 10,
               'is-signe': element.phase.id === 11,
               'is-pour-publication': element.phase.id === 12,
               'is-publie': element.phase.id === 13,
               'is-parlement': element.phase.id === 14,
               'is-corresp': element.phase.id === 15,
               'is-cabinet': element.phase.id === 16
               }"
          >
            <div [ngSwitch]="app.localStorageItem('lge')">
              <div *ngSwitchCase="'ar'" class="myfilterar">{{element.phase?.libelleAr}}</div>
              <div *ngSwitchCase="'fr'" class="myfilterfr">{{element.phase?.libelleFr}}</div>
              <div *ngSwitchDefault></div>
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="libelleFr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{'LIST-MOUVEMENT.TABLE.SECTEUR'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          <div [ngSwitch]="app.localStorageItem('lge')">
            <div *ngSwitchCase="'ar'" class="myfilterar">{{element.secteur?.libelleAr}}</div>
            <div *ngSwitchCase="'fr'" class="myfilterfr">{{element.secteur?.libelleFr}}</div>
            <div *ngSwitchDefault></div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{'LIST-MOUVEMENT.TABLE.DATE'|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{toFormattedDate(element.datePhase)}} </td>
      </ng-container>

      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{'LIST-MOUVEMENT.TABLE.ETAT'|translate}} </th>
        <td mat-cell *matCellDef="let element">

          <!--<div [ngClass]="
               element.isactive == 'false'? 'make-false':'make-true'
               ">{{element.isactive}}</div>-->
          <div class="make-true" *ngIf="element.isactive == '1' ">
            <div [ngSwitch]="app.localStorageItem('lge')">
              <div *ngSwitchCase="'ar'" class="myfilterar">نشط</div>
              <div *ngSwitchCase="'fr'" class="myfilterfr">ACTIVE</div>
              <div *ngSwitchDefault></div>
            </div>
          </div>
         </td>
      </ng-container>

      <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> {{'LIST-MOUVEMENT.TABLE.OPERATIONS'|translate}} </th>
        <td mat-cell *matCellDef="let element">
          <div class="myflex spacer">
          <button *ngIf="!isMinistereUser()"
            mat-raised-button
            mat-icon-button
            matTooltip="{{'LIST-MOUVEMENT.TABLE.EDIT-BUTTON'|translate}}"
            class="btn btn-success" (click)="onEditNature(element.id)">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </button>
            <label class="btn btn-primary" *ngIf="!isMinistereUser()">
              <i class="fa fa-upload" aria-hidden="true"></i>
          <input class="example-full-width" name="UploadFile{{element.id}}"
                 matTooltip="{{'LIST-MOUVEMENT.TABLE.UPLOAD'|translate}}"
                 accept="application/pdf"
                 style="display: none;" type="file"
                 (change)="onSelectFile($event,element.id)" />
            </label>
            <!--<h5>{{currentFileUpload?.name}}</h5>-->
            <div *ngIf="!!element.scanpdf">
              <button
                mat-raised-button
                mat-icon-button
                matTooltip="{{'LIST-MOUVEMENT.TABLE.SHOW-PDF'|translate}}"
                class="btn btn-light" (click)="showPdf(element.id)"
              ><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          [ngClass]="{'make-zibra': row.id%2 == 0}"
          *matRowDef="let row; columns: displayedColumns;"></tr>
      <!---->
    </table>

    <mat-paginator [pageSizeOptions]="[15, 25, 100]" showFirstLastButtons></mat-paginator>

  </div>
</div>
<!--<br/><br/>
<br/><br/>-->
