<div >
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <!--<mat-icon class="close-icon" color="warn">close</mat-icon>-->
    <i class="material-icons close-icon">close</i>
  </button>
  <br>
  <form [formGroup]="myformGroup" #myform="ngForm"
        [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'"
  >
    <div class="entete">{{'EDIT-MOUVEMENT.TITLE' | translate}}</div><!--{{ 'ADD-MOUVEMENT.H5' | translate }}-->
    <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
    </div>
    <div class="row">
      <!--<p>{{selsect?.libelleFr}}</p>-->
      <div class="col" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
        <mat-form-field class="example-full-width">
          <mat-label>{{ 'ADD-TEXTE.SECTEUR' | translate }}</mat-label>
          <mat-select disabled name="etat" [(ngModel)]="secteur"
                      [compareWith]="compareObjects"
                      [ngModelOptions] = "{standalone:true}"><!--="!authService.isAdmin()"-->
            <mat-option></mat-option>
            <mat-option *ngFor="let sct of secteurs; let i=index" [value]="sct">
              <div [ngSwitch]="app.localStorageItem('lge')">
                <div *ngSwitchCase="'ar'" class="myfilterar">{{sct?.libelleAr}}</div>
                <div *ngSwitchCase="'fr'" class="myfilterfr">{{sct?.libelleFr}}</div>
                <div *ngSwitchDefault></div>
              </div>
            </mat-option>
          </mat-select>
          <mat-error>{{ 'ADD-TEXTE.ERROR-SECTEUR' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col"[ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
        <mat-form-field class="example-full-width">
          <mat-label>{{ 'ADD-TEXTE.PHASE' | translate }}</mat-label>
          <mat-select disabled name="etat" [ngModel]="phase"
                      [compareWith]="compareObjects"
          [ngModelOptions] = "{standalone:true}"><!--(ngModelChange)="makeNominat(mouvement.typeMouvement)"-->
            <mat-option></mat-option>
            <mat-option *ngFor="let phs of phases; let i=index" [value]="phs">
              <div [ngSwitch]="app.localStorageItem('lge')">
                <div *ngSwitchCase="'ar'" class="myfilterar">{{phs?.libelleAr}}</div>
                <div *ngSwitchCase="'fr'" class="myfilterfr">{{phs?.libelleFr}}</div>
                <div *ngSwitchDefault></div>
              </div>
            </mat-option>
          </mat-select>
          <mat-error>{{ 'ADD-TEXTE.ERROR-PHASE' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
        <mat-form-field class="example-full-width">
          <input matInput readonly [matDatepicker]="picker1" placeholder="{{'ADD-TEXTE.DATE' | translate}}"
                 id="date1" name="date1"
                 [(ngModel)]="mouvement.datePhase"
                 [ngModelOptions]="{standalone: true}"
                 (dateChange)="toFormattedDate($event.value)">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
                    class="example-full-width">
      <!--{{ 'ADD-TEXTE.PRENOMFR.PLACEHOLDER' | translate }}-->
      <textarea matInput placeholder="{{'ADD-TEXTE.DETAILS' | translate}}" required type="text"
                [(ngModel)]="mouvement.details" name="details"
                [ngModelOptions]="{standalone: true}"
      ></textarea>
      <mat-error>DETAILS!!!<!--{{ "ADD-TEXTE.PRENOMFR.ERROR" | translate }}--></mat-error>
    </mat-form-field>

    <!--<div *ngIf="mouvement.phase?.libelleFr==='TEXTE PUBLIE'">
      <h5>{{'ADD-CANDIDAT.TEXTE' | translate}}</h5>
      <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
        <div class="col">
          <div class="form-group">
            <mat-form-field
              [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
              class="example-full-width">
              <input matInput placeholder="{{'ADD-TEXTE.REF' | translate}}" type="text" [(ngModel)]="texte.refer" name="ref"
                     [ngModelOptions]="{standalone: true}">
              <mat-error>Il faut remplir la reference!</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <mat-form-field
              [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
              class="example-full-width">
              <input matInput placeholder="{{'ADD-TEXTE.JOURNAL' | translate}}" type="text" [(ngModel)]="texte.journal" name="journal"
                     [ngModelOptions]="{standalone: true}">
              <mat-error>Il faut remplir le journal!</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
        <div class="col">
          <div class="form-group">
            <mat-form-field
              [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
              class="example-full-width">
              <input matInput readonly [matDatepicker]="picker2" placeholder="{{'ADD-TEXTE.DATE-SIG' | translate}}"
                     id="dateSignture" name="dateSignture"
                     [(ngModel)]="texte.dateSignature"
                     [ngModelOptions]="{standalone: true}"
                     (dateChange)="toFormattedDate($event.value)">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <mat-form-field
              [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
              class="example-full-width">
              <input matInput readonly [matDatepicker]="picker3" placeholder="{{'ADD-TEXTE.DATE-PUB' | translate}}"
                     id="datePublication" name="datePublication"
                     [(ngModel)]="texte.datePublication"
                     [ngModelOptions]="{standalone: true}"
                     (dateChange)="toFormattedDate($event.value)">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row" [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
        <div class="col">
          <div class="form-group">
            <mat-form-field
              [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
              class="example-full-width">
              <input matInput placeholder="{{'ADD-tEXTE.PAGEAR' | translate}}" type="text" [(ngModel)]="texte.pageAr"
                     [ngModelOptions]="{standalone: true}"
                     name="pagear">
              <mat-error>Il faut remplir la pageAr!</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <mat-form-field
              [style]="{'text-align':app.localStorageItem('lge') === 'ar' ? 'right' : 'left'}"
              class="example-full-width">
              <input matInput placeholder="{{'ADD-TEXTE.PAGEFR' | translate}}" type="text" [(ngModel)]="texte.pageFr"
                     [ngModelOptions]="{standalone: true}"
                     name="pagefr">
              <mat-error>Il faut remplir la pageFr!</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      &lt;!&ndash;


            <button (click)="getTexte()">Voir Texte:</button>
      &ndash;&gt;

    </div>-->
    <ul>
      <li *ngFor="let mst of ministeres">
        <div [ngSwitch]="app.localStorageItem('lge')">
          <div *ngSwitchCase="'ar'" class="myfilterar">{{mst?.libelleAr}}</div>
          <div *ngSwitchCase="'fr'" class="myfilterfr">{{mst?.libelleFr}}</div>
          <div *ngSwitchDefault></div>
        </div>
      </li>
    </ul>

    <hr/>
    <div class="row example-full-width controle">

      <button id="elementID" mat-button
              mat-raised-button
              matTooltip= "{{'STEP.AVANCE'| translate}}"
              [disabled]="!myform.valid"
              (click)="onSubmitSaveMouvement()"
              mat-dialog-close>
        <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
      </button>
    </div>
  </form>

</div>
