<br>
<div class="jumbotron mycustom-jumbotron text-dark">
  <div class="container">
    <div [hidden]="submitted">
      <button mat-raised-button
              matTooltip="RETOUR"
              class="btn btn-dark"
              [routerLink]="'/lessecteurs'">
        <i class="fa fa-hand-o-left fa-2x"></i>
      </button>
      <br/>
      <form>
        <br>
        <div class="row entete"  [ngStyle]="{direction:app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl'}">

          <span>{{'ADD-SECTEUR.TITLE'|translate}}</span><!--{{ 'ADD-MOUVEMENT.H5' | translate }}-->
        </div>
        <div [ngStyle]="{direction:'rtl'}">
          <mat-form-field style="text-align: right" class="example-full-width">
            <input matInput placeholder="{{'ADD-SECTEUR.LIBELLEAR'|translate}}"
                   type="text" [(ngModel)]="secteur.libelleAr" name="secteur" required/><!---->
          </mat-form-field>
        </div>
        <div [ngStyle]="{direction:'ltr'}">
          <mat-form-field style="text-align: left" class="example-full-width">
            <input matInput placeholder="{{'ADD-SECTEUR.LIBELLEFR'|translate}}"
                   type="text" [(ngModel)]="secteur.libelleFr" name="secteur" required/><!---->
          </mat-form-field>
        </div>
        <!--<button type="submit" class="btn btn-success">AJOUTER MOUVEMENT</button>-->
        <div class="form-group">
          <button type="submit" class="btn btn-success"
                  [disabled]="!secteur.libelleFr?.trim()
            || !secteur.libelleAr?.trim()"
                  (click)="onSubmitSave()">AJOUTER</button>
        </div>
      </form>
    </div>

    <div [hidden]="!submitted">
      <h4>LE SECTEUR EST AJOUTE AVEC SUCCES!</h4>
      <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
    </div>

  </div>
</div>
