:root{
  --bg:#e2f3e2;
}

.mybackground{

  width:100%;
  min-height: 100vh;
  /*background-image: url("images/me.jpeg");*/
  background-position: center;
  background-size: cover;

  overflow: hidden;
  position: relative;
}

nav{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
/*  margin-bottom: 50px;*/
  background: rgba(0,0,0,0.1);
  width: 100%;
}

.logo{
  color:#333;
  width: 100px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 5px 5px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  background: black;
}

nav ul li a{
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
nav ul li a:hover{
  color: #054b1d;
  font-weight: 700;
  transition: .5s ease;
  border-radius: 5px;
}

.login-btn{
  text-decoration: none;
  color:#333;
  margin: 10px 15px;
  font-weight: 400;
  padding: 10px;
}
.login-btn:hover{
  color: #054b1d;
  font-weight: 700;
  transition: .5s ease;
  border-radius: 5px;
}

.btn{
  display: inline-block;
  text-decoration: none;
  padding: 14px 40px;
  color: #fff;
  background-image: linear-gradient(45deg, #7fdf48, #038a32);
  font-size: 14px;
  border-radius: 30px;
  border-top-right-radius: 0;
  transition: 0.5s;
}
.btn_scnd{
  text-decoration: none;
  padding: 5px;
  color: #fff;
  background: rgba(0,0,0,0.3);
  font-size: 14px;
  border-radius: 30px;
  border-top-right-radius: 0;
  transition: 0.5s;
  margin-bottom: 20px;
}

.mycontainer{
  /*border: 1px solid #775d5d;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 10px 10%;
}

.contenter{
  /*border: 1px solid #261616;*/
  margin-top: 10%;
  max-width: 600px;
  right: 10%;
}
.contenter-scnd{
  /*border: 1px solid #261616;*/
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenter .bigtitle{
  /*border: 1px solid #261616;*/
  font-size: 50px;
  color: #222;
}

.contenter p{
  margin:30px 10px 30px;
  color: #333;
}

.contenter .btn{
  padding: 15px 80px;
  font-size: 16px;
}

.btn:hover{
  border-top-right-radius: 30px;
}
.btn_scnd:hover{
  border-top-right-radius: 30px;
}

.feature-img{
  width: 540px;
  /*position: absolute;*/
  top: 20%;
  margin-right: 10px;
  -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);

}

.align-label {
  color: #3f51b5;
  text-align: right;
}


.anim{
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}


.move {
  animation: move 15s infinite;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}



/**          ************
   *       *
    *    *    APROPOS PAGE
     ***
*/

@media only screen and (max-width: 1140px){
  .feature-img{
    width: 330px;
    /*position: absolute;*/
    top: 10%;
  }

  .contenter .bigtitle{
    /*border: 1px solid #261616;*/
    font-size: 30px;
  }

}

@media only screen and (max-width: 680px){
  .feature-img{
    width: 330px;
    /*position: absolute;*/
    top: 10%;
  }

  .mycontainer{
    flex-direction: column;
    /*border: 1px solid #261616;*/
    /*font-size: 30px;*/
  }

}
