<!--<div class="jumbotron jumbotron-fluid change-bg">
  <h3 class="display-4 text-center change-font-color">
    &lt;!&ndash;{{ "HOME.BIG-TXT" | translate }}&ndash;&gt;
    متابعة مشاريع النصوص
    <br/>
    SUIVI DES PROJETS DES TEXTES
  </h3>
</div>-->
<nav id="navbar" *ngIf="authService.isAuthenticated == true" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/lesprojets'">
      <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    </a>
    <button class="navbar-toggler"
            type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngIf="!isMinistereUser()" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            TEXTES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="'/lesprojets'">
              LISTE DES PROJETS DES TEXTES
            </a></li>
            <li><a class="dropdown-item" [routerLink]="'/lajoutprojet'">
              AJOUTER PROJET DE TEXTE</a></li>
            <li><hr class="dropdown-divider"></li>
            <!--<li><a class="dropdown-item" href="#">Something else here</a></li>-->
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isAdmin()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            NATURES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item" [routerLink]="'/lesnatures'">
              LISTE DES NATURES DES TEXTES</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="'/lajoutnature'">AJOUTER NATURE DE TEXTE</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isAdmin()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PHASES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li><a class="dropdown-item" [routerLink]="'/lesphases'">LISTE DES PHASES</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="'/lajoutphase'">AJOUTER PHASE</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isAdmin()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MINISTERES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a class="dropdown-item" [routerLink]="'/lesministeres'">LISTE DES MINISTERES</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="'/lajoutministere'">AJOUTER MINISTERE</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isAdmin()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ "HOME.SECTEURS" | translate }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <li><a class="dropdown-item" [routerLink]="'/lessecteurs'">{{
              "HOME.SECTEURS.LIST" | translate
              }}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="'/lajoutsecteur'">{{
              "HOME.SECTEURS.AJOUT" | translate
              }}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isAdmin()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ "HOME.UTILISATEURS" | translate }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
            <li><a class="dropdown-item" [routerLink]="'/lesusers'">{{
              "HOME.UTILISATEURS.LIST" | translate
              }}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="'/signup'">{{
              "HOME.UTILISATEURS.AJOUT" | translate
              }}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isMinistereUser()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CONSULTATIOIN DES TEXTES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown6">
            <li><a class="dropdown-item" [routerLink]="'/lesprojets'">{{
              "HOME.UTILISATEURS.LIST" | translate
              }}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="'/apropos'">{{
              "HOME.UTILISATEURS.AJOUT" | translate
              }}</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <span style="margin: 2px;"></span>
        <button class="dcnx btn btn-outline-light" type="submit"
                matTooltip="DECONNEXION"
          (click)="onLogout()"
                style="background-color: #ee8488;"
        >
          <div class="dcnx">
            <i class="dcnx-elt fa fa-sign-out fa-2x" aria-hidden="true"></i
            ><span class="dcnx-elt">{{
            authService.userAuthenticated?.username
            }}</span>
          </div>

        </button>
      </div>
    </div>
  </div>
</nav>
<!--<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary"
  *ngIf="authService.isAuthenticated == true"
  [ngStyle]="{ direction: localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }"
>
  <button
    class="navbar-brand"
    [routerLink]="'/lesprojets'"
    mat-raised-button
    matTooltip="{{ 'HOME.ACCEUIL' | translate }}"
  >
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
  </button>
  <button
    (click)="actualiser()"
    mat-raised-button
    matTooltip="{{ 'HOME.ACTUALISER' | translate }}"
    mat-icon-button
    style="margin-left: 15px;margin-right: 15px;"
  >
    <i class="fa fa-refresh fa-2x" aria-hidden="true"></i
    >&lt;!&ndash;&ndash;&gt;
  </button>
  <button
    mat-button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul
      class="navbar-nav"
      [ngClass]="{ 'mr-auto': localStorageItem('lge') === 'fr' }"
    >
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown1"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          &lt;!&ndash;{{ "HOME.REUNIONS" | translate }}&ndash;&gt; TEXTES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          &lt;!&ndash;<a class="dropdown-item" [routerLink]="'/lesreservations'">{{
            "HOME.REUNIONS.LIST" | translate
            }}</a>&ndash;&gt;
          <a class="dropdown-item" [routerLink]="'/lesprojets'">
            &lt;!&ndash;{{"HOME.REUNIONS.LIST" | translate}}&ndash;&gt;
            LISTE DES PROJETS DES TEXTES
          </a>
          <a class="dropdown-item" [routerLink]="'/lajoutprojet'">
            &lt;!&ndash;{{"HOME.REUNIONS.AJOUT" | translate}}&ndash;&gt;
            AJOUTER PROJET DE TEXTE
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="'/lerapport'">ETAT DE SORTIE</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isAdmin()">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown1-1"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          &lt;!&ndash;{{ "HOME.REUNIONS" | translate }}&ndash;&gt; NATURES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="'/lesnatures'">
            &lt;!&ndash;{{"HOME.REUNIONS.LIST" | translate}}&ndash;&gt;
            LISTE DES NATURES DES TEXTES
          </a>
          <a class="dropdown-item" [routerLink]="'/lajoutnature'">
            AJOUTER NATURE DE TEXTE
          </a>
          <div class="dropdown-divider"></div>
        </div>


      </li>
      <li class="nav-item dropdown" *ngIf="isAdmin()">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown2"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          PHASES
          &lt;!&ndash;{{ "HOME.SALLES" | translate }}&ndash;&gt;
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          &lt;!&ndash; <a class="dropdown-item" [routerLink]="'/'">{{'HOME.ORGANISMES.LIST' | translate}}</a>&ndash;&gt;

          <a class="dropdown-item" [routerLink]="'/lesphases'">LISTE DES PHASES</a>&lt;!&ndash;{{"HOME.SALLES.LIST" | translate}}&ndash;&gt;
          <a class="dropdown-item" [routerLink]="'/lajoutphase'">AJOUTER PHASE</a>&lt;!&ndash;{{"HOME.SALLES.AJOUT" | translate}}&ndash;&gt;
          <div class="dropdown-divider"></div>
          &lt;!&ndash;<a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isAdmin()">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown2-1"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          MINISTERES
          &lt;!&ndash;{{ "HOME.SALLES" | translate }}&ndash;&gt;
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          &lt;!&ndash; <a class="dropdown-item" [routerLink]="'/'">{{'HOME.ORGANISMES.LIST' | translate}}</a>&ndash;&gt;

          <a class="dropdown-item" [routerLink]="'/lesministeres'">LISTE DES MINISTERES</a>&lt;!&ndash;{{"HOME.SALLES.LIST" | translate}}&ndash;&gt;
          <a class="dropdown-item" [routerLink]="'/lajoutministere'">AJOUTER MINISTERE</a>&lt;!&ndash;{{"HOME.SALLES.AJOUT" | translate}}&ndash;&gt;
          <div class="dropdown-divider"></div>
          &lt;!&ndash;<a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isAdmin()">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown3"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ "HOME.SECTEURS" | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="'/lessecteurs'">{{
            "HOME.SECTEURS.LIST" | translate
            }}</a>
          <a class="dropdown-item" [routerLink]="'/lajoutsecteur'">{{
            "HOME.SECTEURS.AJOUT" | translate
            }}</a>
          <div class="dropdown-divider"></div>
          &lt;!&ndash;<a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isAdmin()">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown4"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ "HOME.UTILISATEURS" | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="'/lesusers'">{{
            "HOME.UTILISATEURS.LIST" | translate
            }}</a>
          <a class="dropdown-item" [routerLink]="'/signup'">{{
            "HOME.UTILISATEURS.AJOUT" | translate
            }}</a>
          <div class="dropdown-divider"></div>
          &lt;!&ndash;<a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;
        </div>
      </li>
      &lt;!&ndash;<li>
        <button
          (click)="actualiser()"
          mat-raised-button
          matTooltip="{{ 'HOME.ACTUALISER' | translate }}"
          mat-icon-button
        >
          <i class="fa fa-refresh fa-2x" aria-hidden="true"></i
          >&lt;!&ndash;&ndash;&gt;
        </button>
      </li>&ndash;&gt;
    </ul>

    <ul
      class="navbar-nav"
      [ngClass]="{ 'mr-auto': localStorageItem('lge') === 'ar' }"
    >
      <li>
        <span class="badge badge-primary">{{
          authService.userAuthenticated?.username
          }}</span>
        <span style="margin: 2px;"></span>
        <button
          mat-raised-button
          matTooltip="{{ 'HOME.LOGOUT' | translate }}"
          mat-icon-button
          (click)="onLogout()"
        >
          <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i
          >&lt;!&ndash;window.location.reload();&ndash;&gt;
        </button>
      </li>
      <li>
        <select
          style="width: 55px; margin: 5px;"
          class="custom-select"
          #langselect
          (change)="changeLang(langselect.value)"
        >
          <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{
            lang
            }}</option>
        </select>
      </li>
    </ul>
  </div>
</nav>-->

<main role="main"  class="wrapper"  id="sect1" >


  <div class="container">
    <router-outlet></router-outlet>

  </div>
  <br/><br/><br/>
</main>

<footer id="footer" style="text-align: center">
  <p>© SGG 2022</p>
</footer>
