<br><br>
<div class="text-dark" style="display: flex;  justify-content: space-between;"
     [ngStyle]="{'direction': app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }"
>

  <div><!--[printStyle]=" direction : {{ app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }}"-->
    <button printSectionId="table"
            [useExistingCss]="true"

            mat-raised-button
            class="btn btn-light"
            style="position: center"
            ngxPrint
    ><!--matTooltip="Imprimer l'etat de sortie"-->
      <i class="fa fa-print fa-3x" aria-hidden="true"></i>
    </button>
    <button style="margin-left: 10px" type="submit"
            mat-raised-button
            class="btn btn-light"
            (click)="exportexcel()"><!--matTooltip="Exporter EXCEL"-->
      <i class="fa fa-download fa-3x" aria-hidden="true"></i>
    </button>
  </div>

  <mat-chip-list aria-label="Fish selection">
    <mat-chip style="font-size: large" color="primary" selected>{{aujourdhui | date:'dd / MM / yyyy, h:mm:ss a' }}</mat-chip>
  </mat-chip-list>
</div>
<br><br>
<div id="table" class="table-responsive" [ngStyle]="{'direction': app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }">
  <table id="excel-table" class="table table-bordered table-light" *ngIf="textes"
         matSort (matSortChange)="sortData($event)">
    <thead class="thead-dark example-full-width">
    <tr>
      <th >{{"LIST-PROJET.TABLE.ID" | translate}}</th>
      <th matTooltip="Ordre par " mat-sort-header="nature">{{"LIST-PROJET.ADVANCED-FILTER.NATURE" | translate}} </th>
      <th matTooltip="Ordre par " mat-sort-header="sommaireAr">{{"LIST-PROJET.TABLE.SOMMAIRE-AR" | translate}}</th>
      <th matTooltip="Ordre par " mat-sort-header="sommaireFr">{{"LIST-PROJET.TABLE.SOMMAIRE-FR" | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let res of sortedData; let i=index; ">
      <td>{{i+1}}</td>
      <td><app-nature-texte [texteId]="res.id"></app-nature-texte></td>
      <td>{{ res.sommaireAr}}</td>
      <td>{{ res.sommaireFr}}</td>
     <!-- <td>
        <div *ngIf="res.periode == '0'; else periode1">
          <div  *ngFor="let per of periode_fr">
            <div *ngIf="per.id===0">
              {{per.value}}
            </div>
          </div>
        </div>
        <ng-template #periode1>
          <div *ngFor="let per of periode_fr">
            <div *ngIf="per.id===1">
              {{per.value}}
            </div>
          </div>
        </ng-template>
      </td>-->
    </tr>

    <!--<mat-slider min="1" max="100" step="1" value="1"></mat-slider>-->

    </tbody>

  </table>

  <br>


</div>
