<br><br>
<div class="text-dark" style="display: flex;  justify-content: space-between;"
     [ngStyle]="{'direction': app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }"
>

  <div style="display: flex"><!--[printStyle]=" direction : {{ app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }}"-->
    <button printSectionId="table"
            [useExistingCss]="true"
            styleSheetFile="{{app.localStorageItem('lge')==='ar'?'assets/pdfar.css':'assets/pdffr.css'}}"
            mat-raised-button
            class="btn btn-light"
            style="position: center"
            ngxPrint
    ><!--matTooltip="Imprimer l'etat de sortie"-->
      <i class="fa fa-print fa-3x" aria-hidden="true"></i>
    </button>
    <button style="margin-left: 10px" type="submit"
            mat-raised-button
            class="btn btn-light"
            (click)="exportexcel()"><!--matTooltip="Exporter EXCEL"-->
      <i class="fa fa-download fa-3x" aria-hidden="true"></i>
    </button>
  </div>

  <mat-chip-list aria-label="Fish selection">
    <mat-chip style="font-size: large" color="primary" selected>{{aujourdhui | date:'dd / MM / yyyy, h:mm:ss a' }}</mat-chip>
  </mat-chip-list>
</div>
<br><br>
<div id="table" class="table-responsive" [ngStyle]="{'direction': app.localStorageItem('lge') === 'fr' ? 'ltr' : 'rtl' }">

  <div class="entete"
       [style]="{'direction':localStorageItem('lge') === 'ar' ? 'rtl' : 'ltr'}">
    <mat-label >{{ 'ADD-DETAIL.RESULTAT' | translate}}</mat-label>
  </div>
  <div [style]="{'direction':localStorageItem('lge') === 'ar' ? 'rtl' : 'ltr'}">
    <mat-label >{{ 'ADD-DETAIL.NBRE-TEXTE' | translate}}</mat-label>
    <br>
    <span>{{data.totalElt}}</span> <!--totalElements/phase/nature/isActive/secteur/ministere-->
  </div>
  <div *ngIf="data.url" [style]="{'direction':localStorageItem('lge') === 'ar' ? 'rtl' : 'ltr'}">


    <mat-label >{{ 'ADD-DETAIL.CRITERE' | translate}}</mat-label>
    <br>
    <br>
    <div *ngIf="(data.from && data.to)">
      <mat-label>{{'LIST-PROJET.ADVANCED-FILTER.TIME-INTERVAL' | translate}}</mat-label>:
      <span>
          <div>
            {{'LIST-PROJET.ADVANCED-FILTER.FROM' | translate}}: {{data.from}}
            <span>{{'<--->'}}</span>
            {{'LIST-PROJET.ADVANCED-FILTER.TO' | translate}}: {{data.to}}
          </div>
        </span><br>
    </div>
    <div *ngIf="(data.phase | json) !== ({} | json)">
      <mat-label>{{'LIST-PROJET.ADVANCED-FILTER.PHASE' | translate}}</mat-label>:
      <span>
          <div [ngSwitch]="app.localStorageItem('lge')">
            <div *ngSwitchCase="'ar'" class="myfilterar">{{data.phase?.libelleAr}}</div>
            <div *ngSwitchCase="'fr'" class="myfilterfr">{{data.phase?.libelleFr}}</div>
            <div *ngSwitchDefault>This is Default</div>
          </div>
        </span><br>
    </div>

    <div *ngIf="(data.nature | json) !== ({} | json)">
      <mat-label>{{'LIST-PROJET.ADVANCED-FILTER.NATURE' | translate}}</mat-label>:
      <span>
          <div [ngSwitch]="app.localStorageItem('lge')">
            <div *ngSwitchCase="'ar'" class="myfilterar">{{data.nature?.libelleAr}}</div>
            <div *ngSwitchCase="'fr'" class="myfilterfr">{{data.nature?.libelleFr}}</div>
            <div *ngSwitchDefault>This is Default</div>
          </div>
        </span><br>
    </div>

    <div *ngIf="data.isActive">
      <mat-label>{{'LIST-PROJET.ADVANCED-FILTER.ISACTIVE' | translate}}</mat-label>:
      <span>
          <div [ngSwitch]="app.localStorageItem('lge')">
            <div *ngSwitchCase="'ar'" class="myfilterar"><div>{{data.isActive == true ?'نعم':'لا'}}</div></div>
            <div *ngSwitchCase="'fr'" class="myfilterfr"><div>{{data.isActive == true ?'OUI':'NON'}}</div></div>
            <div *ngSwitchDefault>This is Default</div>
          </div>
        </span><br>
    </div>

    <div *ngIf="(data.secteur | json) !== ({} | json)">
      <mat-label>{{'LIST-PROJET.ADVANCED-FILTER.SECTEUR' | translate}}</mat-label>:
      <span>
          <div [ngSwitch]="app.localStorageItem('lge')">
            <div *ngSwitchCase="'ar'" class="myfilterar">{{data.secteur?.libelleAr}}</div>
            <div *ngSwitchCase="'fr'" class="myfilterfr">{{data.secteur?.libelleFr}}</div>
            <div *ngSwitchDefault>This is Default</div>
          </div>
        </span><br>
    </div>

    <div *ngIf="(data.ministere | json) !== ({} | json)">
      <mat-label>{{'LIST-PROJET.ADVANCED-FILTER.MINISTERE' | translate}}</mat-label>:
      <span>
          <div [ngSwitch]="app.localStorageItem('lge')">
            <div *ngSwitchCase="'ar'" class="myfilterar">{{data.ministere?.libelleAr}}</div>
            <div *ngSwitchCase="'fr'" class="myfilterfr">{{data.ministere?.libelleFr}}</div>
            <div *ngSwitchDefault>This is Default</div>
          </div>
        </span><br>
    </div>

    <br>
  </div>

  <table id="excel-table" class="table table-bordered table-light" *ngIf="textes"
         matSort (matSortChange)="sortData($event)">
    <thead class="thead-dark example-full-width">
    <tr>
      <th >{{"LIST-PROJET.TABLE.ID" | translate}}</th>
      <th matTooltip="Ordre par " mat-sort-header="nature">{{"LIST-PROJET.ADVANCED-FILTER.NATURE" | translate}} </th>
      <th matTooltip="Ordre par " mat-sort-header="sommaireAr">{{"LIST-PROJET.TABLE.SOMMAIRE-AR" | translate}}</th>
      <th matTooltip="Ordre par " mat-sort-header="sommaireFr">{{"LIST-PROJET.TABLE.SOMMAIRE-FR" | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let res of sortedData; let i=index; ">
      <td>{{i+1}}</td>
      <td><app-nature-texte [texteId]="res.id"></app-nature-texte></td>
      <td>{{ res.sommaireAr}}</td>
      <td>{{ res.sommaireFr}}</td>
     <!-- <td>
        <div *ngIf="res.periode == '0'; else periode1">
          <div  *ngFor="let per of periode_fr">
            <div *ngIf="per.id===0">
              {{per.value}}
            </div>
          </div>
        </div>
        <ng-template #periode1>
          <div *ngFor="let per of periode_fr">
            <div *ngIf="per.id===1">
              {{per.value}}
            </div>
          </div>
        </ng-template>
      </td>-->
    </tr>

    <!--<mat-slider min="1" max="100" step="1" value="1"></mat-slider>-->

    </tbody>

  </table>

  <mat-card *ngIf="isLoading"  id="pause" class="d-flex align-items-center justify-content-center">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
  <br>


</div>
