th.mat-header-cell {
  padding: 0 30px 0 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
td.mat-cell {
  padding: 0 30px 0 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
