<div class="contactus">
  <div class="sub-contactus">
  <div class="content">
    <div class="left-side">
      <div class="address details">
        <i class="fa fa-map-marker"></i>
        <div class="topic">{{"CONTACTUS.ADRESS-TITLE" | translate}}</div>
        <div class="text-one">{{"CONTACTUS.ADRESS1" | translate}}</div>
        <div class="text-two">{{"CONTACTUS.ADRESS2" | translate}}</div>
      </div>
      <div class="phone details">
        <i class="fa fa-phone"></i>
        <div class="topic">{{"CONTACTUS.PHONE-TITLE" | translate}}</div>
        <div class="text-one"> 021.68.65.51 </div>
      </div>
      <div class="email details">
        <i class="fa fa-envelope"></i>
        <div class="topic">{{"CONTACTUS.EMAIL-TITLE" | translate}}</div>
        <div class="text-one">sgg@joradp.com</div>
      </div>
    </div>
    <div class="right-side"
         [ngClass]="app.localStorageItem('lge') === 'fr' ? 'ltr' :'rtl'">
      <div class="topic-text">{{"CONTACTUS.SENDUS-TITLE" | translate}}</div>
      <p>{{"CONTACTUS.SENDUS-MESSAGE" | translate}}</p>
      <br>
      <form [formGroup]="form" (ngSubmit)="sendMessage()">
        <div class="input-box form-group">
          <mat-label>{{ 'ADD-TEXTE.SECTEUR' | translate }}</mat-label>
          <select
            name="secteur"
            id="secteur"
            formControlName="secteur"
            class="form-select form-select-lg mb-3 form-group">
            <option></option>
            <option *ngFor="let secteur of secteurs" [value]="secteur.id">
              <div [ngSwitch]="app.localStorageItem('lge')">
                <div *ngSwitchCase="'ar'">{{secteur?.libelleAr}}</div>
                <div *ngSwitchCase="'fr'">{{secteur?.libelleFr}}</div>
                <div *ngSwitchDefault>No Result</div>
              </div>
            </option>
          </select>
          <div *ngIf="f['secteur'].touched && f['secteur'].invalid" class="alert alert-danger">
            <div *ngIf="f['secteur'].errors && f['secteur'].errors['required']">{{'CONTACTUS.SECTEUR-REQUIRE'|translate}}</div>
          </div>
        </div>
        <br>
        <div class="input-box form-group">
          <input
            id="name"
            formControlName="name"
            type="text"
            placeholder='{{"CONTACTUS.NAME" | translate}}'
            class="form-control"
          >
          <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
            <div *ngIf="f['name'].errors && f['name'].errors['required']">{{'CONTACTUS.NAME-REQUIRE'|translate}}</div>
            <div *ngIf="f['name'].errors && f['name'].errors['minlength']">{{'CONTACTUS.NAME-PLUSTHREE'|translate}}</div>
          </div>
        </div>
        <div class="input-box form-group">
          <input
            id="email"
            formControlName="email"
            type="text"
            placeholder='{{"CONTACTUS.EMAIL" | translate}}'
            class="form-control"
          >
          <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
            <div *ngIf="f['email'].errors && f['email'].errors['required']">{{'CONTACTUS.EMAIL-REQUIRE'|translate}}</div>
            <div *ngIf="f['email'].errors && f['email'].errors['email']">{{'CONTACTUS.EMAIL-VALID'|translate}}</div>
          </div>
        </div>
        <div class="input-box message-box form-group">
          <textarea formControlName="message" matInput placeholder="{{'CONTACTUS.MESSAGE'|translate}}"
                     required type="text"></textarea>
          <div *ngIf="f['message'].touched && f['message'].invalid" class="alert alert-danger">
            <div *ngIf="f['message'].errors && f['message'].errors['required']">{{'CONTACTUS.MESSAGE-REQUIRE'|translate}}</div>
          </div>
        </div>
        <div class="button">
          <button class="btn btn-primary" [disabled]="form.invalid" type="submit">{{"CONTACTUS.SEND-BUTTON" | translate}}</button>
    </div>
      </form>
    </div>
  </div>
  </div>
</div>
