/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Cairo";
  src: local("Cairo"), url('./assets/fonts/Cairo-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Old-Antic-Bold";
  src: local("Old-Antic-Bold"), url('src/assets/fonts/farsi-simple-bold.ttf') format("truetype");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/MaterialIcons-Regular.ttf'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('assets/fonts/MaterialIconsOutlined-Regular.otf') format('otf'),
  url('assets/fonts/MaterialIconsRound-Regular.otf') format('otf'),
  url('assets/fonts/MaterialIconsSharp-Regular.otf') format('otf'),
  url('assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Cairo', sans-serif!important;


  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
}

/* You can add global styles to this file, and also import other style files *
 */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*@import '~material-icons/iconfont/material-icons.css';*/

.spacer{
  margin: 5px;
}

.font-btn{
  font-size: 10px;
}

.change-bg{
  background: dodgerblue !important;
}

.change-font-color{
  color: white;
}
/*.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-item:hover {
  color: lightgreen;
}*/

.jumbotron{
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  margin-bottom: 0px !important;
}

.diplay-flx{
  display: flex;
}

* {
  box-sizing: border-box;
}

table{
  width: 100%;
  font-weight: bold;
  font-family: 'Cairo', sans-serif!important;
}

button{
  font-family: 'Cairo', sans-serif!important;
}

.mat-select {
  font-family: 'Cairo', sans-serif!important;
}

.mat-option-text {
  font-family: 'Cairo', sans-serif!important;
}

.example-container.mat-elevation-z8 {
  overflow-x: auto;
}
.example-container .mat-table.mat-table {
  min-width: 450px;
}

.dcnx {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
}


.dcnx-elt{
/*  font-family: Roboto, "Helvetica Neue", sans-serif;*/
  color: white;
  font-size: 1.1rem;
  justify-content: center;align-content: center;

}

.dcnx-elt:hover {
   color: #ffdd5b;
}

.btn-logout{
  background-color: rgba(0,0,0,0%);
  border:none;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255,1);
  font-size: 16px;
  font-weight: 500;
}
/*.bg {
  !* The image used *!
  background-image: url(app/algflag.jpg);
  !* Full height *!
  height: 100%;
  !* Center and scale the image nicely *!
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

.lists {
  list-style: none;
}

.fill-space {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0px 10px;
  padding: 20px 10px;
}

.clickable {
  cursor: pointer;
}

a:hover {
  background-color: lightgray;
}

*:focus {
  outline: none !important;
  border: 0 !important;
}

.pagination-buttons {
  margin-left: 1px;
  margin-right: 1px;
}

.rtl-text {
  direction: rtl;
}

.ltr-text {
  direction: ltr;
}

.dir2rtl{
  direction: rtl;
}

html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  transition: 2s;
  font-family: 'Cairo', sans-serif!important;
}
/*
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/



.mycustom-jumbotron {
  background-color: #fff;
  border:5px solid #003366;
  margin: 5px 1rem;
  padding: 5px;
}
.entete{
  background: skyblue;
  padding: 10PX;
  margin: 10PX;
  color: darkslateblue;
  font:italic small-caps bold 20px/40px 'El Messiri', sans-serif;
  border-radius: 5PX;
  font-size:1.5rem;text-align: center
}

.footer
{
  position:absolute;
  color: #efefef;
  padding: 10px;
  bottom:0;
  width:100%;
  height:50px;   /* Height of the footer */
  background: dodgerblue !important;
}

/*body {
!*  font-family: Roboto, Arial, sans-serif;*!
  background:#5bc0de;
  margin: 0;
}*/

/*
.mat-calendar-body-selected {
  background-color: #428bca;
  color:#efefef;
}*/


mat-expansion-panel:first-child mat-expansion-panel-header {
  background-color: #f0c24e;
  font-weight: bold;
  font-family: 'Cairo', sans-serif!important;
}
.mat-expansion-panel-body {
  padding: 0 24px 16px;
  background: beige;

}

mat-expansion-panel:first-child mat-expansion-panel-header:hover {
  background-color: #f0c24e;
  font-weight: bold;
}

mat-card{
  background-color: #efefef;
}

.home_display{
  display: flex;
  justify-content: center;
  padding: 50px
}



#right_side{
  max-width: 1600px;
}

#left_side{
  max-width: 800px;
  background: white;
  padding: 10px;
  margin: 10px;
  height: fit-content;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #1E90FF !important;
  clear: both;
  color: #efefef;
  height: 100px;
  margin-top: 0px;
}

#footer p{
  margin-top: 10px;
}

#recherche{
  padding: 10px;
  background-color : lightblue;
  font: italic small-caps bold 20px/20px Georgia, serif;
}
.navbar{
  margin-bottom: -5px;
}
.malist{
  color: rgba(255,255,255,0.9);
}

#sect1 {
  background-image: url("assets/cool-background.png");
  background-position: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  bottom: 0;
}

.myflex{
  display: flex;
  justify-content: center;align-content: center;
  gap: 2px;
}
.myflex2{
  display: flex;
  justify-content: space-around;align-content: center;
}

.mybigtexte{
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 5px;
  /*box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;>*/
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  /*border: 15px solid rgba(255,255,255,.3);*/
  border-radius: 5px;
  background-color: #87CEEB;
  color: #483D8B;
  padding: 10px 100px;
}

.mytexte{
  /*  width: 50%;*/
  font-size: .8rem;
  font-weight: 700;
  text-align: center;
  margin: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  background-color: #87CEEB;
  color: #483D8B;
  padding: 10px 100px;
}

.mysubtexte{
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #E9ECEF;
}

.simple-border{
  border: 3px solid #5bc0de;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 100%;
}


/* LA LISTE DES COULEURS AVEC LES DIFFERENTES PHASES */
.is-all{
  font-weight: 500;
  display: inline-block;
  min-width: 1em; /* em unit */
  padding: .3em; /* em unit */
  border-radius: 5%;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}
.is-initiation{
  width: 100%;
  background: #ff8000;
}

.is-distribution{
  width: 100%;
  background: #29527a;
}

.is-telex{
  width: 100%;
  background: #29527a;
}

.is-reunion{
  width: 100%;
  background: #ff00ff;
}

.is-conseil-gov{
  width: 100%;
  background: #0000ff;
}

.is-conseil-mnstr{
  width: 100%;
  background: #0000ff;
}

.is-parlement{
  width: 100%;
  background: #0000ff;
}

.is-pour-signature{
  width: 100%;
  background: #00ffff;
}

.is-signe{
  width: 100%;
  background: #00ff00;
}

.is-pour-publication{
  width: 100%;
  background: #00ffff;
}

.is-publie{
  width: 100%;
  background: 	#00ff00;
}

.is-aprobat{
  width: 100%;
  background: #057305;
}

.is-aprobat-obsrv{
  width: 100%;
  background: #00ffff;
}

.is-nouv-lecture{
  width: 100%;
  background: #ff8000;
}

.is-corresp{
  width: 100%;
  background: #988d8d;
}
.is-cabint{
  width: 100%;
  background: #637049;
}
.is-default{
  width: 100%;
  background: #413f3f;
}

.make-gold {
  background-color: gold
}
.make-zibra {
  background-color: #edf2f3
}

.make-true{
  color: #00ff00;
}
.make-false{
  color: #ee8488;
}


/**************    LOADING SPINNER *****************/

#spinner {
  -webkit-animation: frames 1s infinite linear;
  animation: frames 1s infinite linear;
  background: transparent;
  border: 1.75vw solid #fff;
  border-radius: 100%;
  border-top-color: #1a5fdf;
  width: 20vw;
  height: 20vw;
  opacity: 0.6;
  padding: 0;
  position: absolute;
  z-index: 999;
}
@keyframes frames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
#pause {
  display: block;
  background: rgba(0, 0, 0, 0.66) no-repeat 0 0;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

/**
use direction
**/

.rtl{direction:rtl;}
.ltr{direction:ltr;}

.custom-tooltip {
  background-color:white;
  height: auto;
  color: #000 !important;
  font-weight: 600;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(28, 28, 28,0.3);
}


.mat-elevation-z8 {
  overflow-x: auto;
}

.example-element-row td {
  border-bottom-width: 0;
  padding: 24px;
}


.myfilterar{
  text-align: right;
  font-family: 'Cairo', sans-serif!important;
}
.myfilterfr{
  text-align: left;
  font-family: 'Cairo', sans-serif!important;
}

.mat-form-field{
  font-family: 'Cairo', sans-serif!important;
}

.error-message{
  font-family: 'Cairo', sans-serif!important;
  font-size: 14px ; color:red;font-weight: bold;
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
  color: red;
}

.close-icon {
  transition: 0.5s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}


.mat-h5, .mat-typography .mat-h5, .mat-typography h5{
  padding:10px 15px 0 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Cairo', sans-serif!important;
}
 .mat-step-label{
   text-align: center;
   background: linear-gradient(to left, #3f51b5,#3f51b5,#ffffff);
   border-top-right-radius: 150px ;
   width: 100%;
 }

 .move-opt{
   margin: 5px;
 }


@media only screen and (max-width: 950px){
  .home_display{
    flex-direction: column;
  }
  #left_side{
    width: 100%;
    flex: 1;
  }
  #right_side{
    width: 100%;
    flex: 1;
  }
}


